<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="https://lh3.googleusercontent.com/OzF0sDQrcyP0Nd2vEgynY70NiqdmvlIK0V29ncoaBzsuXCyccis9uuztRx3bw3_ODJIM9jI=s125" width="120" height="70" alt="">
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/balance-general">Home <span class="sr-only"></span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/ingresos">Ingresos <span class="sr-only"></span></a>
    </li>
  </ul>
</div>
</nav>

<div class="container">
  <div class="ingresos-container">
    <h2>Aquí se mostrarán sus gastos</h2>
    <p>${{valor}}</p>
  </div>
  <div class="categorias">
<select name="categorias">
  <option value="1">Escoja su categoria...</option>
   <option value="2">Salario</option> 
   <option value="3">Premios</option> 
   <option value="4">Subsidios</option>
   <option value="5">Cupones</option> 
   <option value="6">Inversiones</option> 
   <option value="7">Ahorros</option> 
</select>
  </div>
  <div class="valor">
    Ingrese el valor de su ingreso: {{ingresos}}
    <input type="number">
  </div>
  <input type="submit" value="Enviar" (click)="enviar()">
</div>