<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="https://lh3.googleusercontent.com/OzF0sDQrcyP0Nd2vEgynY70NiqdmvlIK0V29ncoaBzsuXCyccis9uuztRx3bw3_ODJIM9jI=s125" width="120" height="70" alt="">
  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/balance-general">Home <span class="sr-only"></span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/ingresos">Ingresos <span class="sr-only"></span></a>
    </li>
  </ul>
</div>
</nav>

<div class="container">
  <h2>Registre sus gastos</h2>
  <form [formGroup]="Formulariogastos">
    Escoja su categoria
    <select
      name="categorias"
      class="form-control"
      formControlName="categoria"
      placeholder="Escoja su categoria"
    >
      <option value="Comida">Comida</option>
      <option value="Servicios">Servicios</option>
      <option value="Transporte">Transporte</option>
      <option value="Salud">Salud</option>
      <option value="Ropa">Ropa</option>
      <option value="Entretenimiento">Entretenimiento</option>
    </select>
    <br />
    Ingrese el valor de su gasto:
    <input type="number" class="form-control" formControlName="valor" /><br />
    <button
      class="btn btn-dark"
      type="submit"
      (click)="visibleInputs=true"
    >
      Agregar gasto
    </button>
    <button class="btn btn-dark" id="boton-borrar" (click)="visibleInputs=false">Borrar gasto</button>
  </form>
  <br>
  Gastos del usuario:
  <div id="gastos" *ngIf="visibleInputs">{{ Formulariogastos.value | json }}</div>
</div>