<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
    <img src="frontend/img/logo.png" width="30" height="30" alt="">
  </a>
<a class="navbar-brand" href="http://localhost:4200/auth/login">TPPTI</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/login">Home <span class="sr-only"></span></a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/auth/login">Cerrar Sesión <span class="sr-only"></span></a>
    </li>
  </ul>
</div>
</nav>

<!--Contenido-->
<div class="container">
  <h1>Bienvenido a nuestro balance general</h1>
  <h3>Aquí podrá escoger sus gastos e ingresos fijo de cada mes</h3>
  <div class="button-container">
    <button class="action-button btn-dark" type="button" onclick="location.href='http://localhost:4200/auth/ingresos'">Ingresos</button>
    <button class="action-button btn-dark" type="button" onclick="location.href='http://localhost:4200/auth/gastos'">Gastos</button>
  </div>
</div>

<p>aquí irá la gráfica</p>

